<p> SESSION: <%= @sessions.name %> </p>
<p> CAPACITY: <%= @sessions.attendance.count %> / <%= @sessions.capacity %> </p>

<div class="staff_container">
  <form method="get" action= "/sessions/<%= @sessions.id %>/edit" target = "_self">
    <input class="button" type="submit" value="UPDATE">
  </form>

  <form method="post" action="/sessions/<%= @sessions.id %>/delete" >
    <input class="button" type="submit" value="DELETE">
  </form>

  <form method="get" action="/sessions" >
    <input class="button" type="submit" value="Back to sessions">
  </form>

  <% if @sessions.attendance.empty? %>
    <p>NO ATTENDEES</p>
  <% else %>
    <p>PEOPLE ATTENDING: </p>
    <% @sessions.attendance.each do |attendee| %>
        <p> <%= attendee.first_name %> <%= attendee.last_name %> </p>
    <% end %>
  <% end %>
</div>
