<p> Session name: <%= @sessions.name %> </p>
<p> Session capacity: <%= @sessions.capacity %> </p>

<form method="get" action= "/sessions/<%= @sessions.id %>/edit" target = "_self">
  <input type="submit" value="UPDATE">
</form>

<form method="post" action="/sessions/<%= @sessions.id %>/delete" >
  <input type="submit" value="DELETE">
</form>

<p>People attending</p>
<% @sessions.attendance.each do |attendee| %>
  <ul>
    <li> <%= attendee.first_name %> <%= attendee.last_name %> </li>
  </ul>
<% end %>
